body {
    font-family: 'Poppins';
}
.formContainer {
    background-color: #8ba7bf;
    opacity: 100%;
    margin: auto;
    margin-top: 7em;
    width: 25%;
    height: 380px;
    /* border: 5px solid purple; */
    padding: 10px;
    text-align: justify;
}
.quizForm {
    margin: auto;
    width: 75%;
    font-family: 'Quicksand', sans-serif;

}
.firstNameBox {
    margin-bottom: 10px;
    width: 75%;
}
.lastNameBox {
    margin-bottom: 10px;
    width: 75%;
}
.emailBox {
    margin-bottom: 10px;
    width: 75%;
}
.passwordBox {
    margin-bottom: 10px;
    width: 75%;
}
.signUp {
    margin-top: 5px;
    width: 36%;
}
.signIn {
    margin-top: 5px;
    width: 36%;
}
.submitsignup {
    margin-top: 5px;
    width: 36%;
}

.cancelsignup {
    margin-top: 5px;
    width: 36%;
}
.login {
    margin-top: 0.75em;
    text-align: center;
}
.signOut {
    float: right;
    margin: 1.5em;
}
.heelscation {
    float: left;
}

.topBar {
    background-color: white;
}
.title {
    display: inline;
    font-size: 60px;
}
#searchusers {
    float: right;
    font-family: 'Quicksand', sans-serif;

}

.flex-parent {
    display: flex;
}
.searchresults {
    text-align: left;
    flex-grow: 1;
}
.usersearch{
    overflow: scroll;
    height: 600px;
    width: 350px;
}

.title {
    opacity: 100%;
}

.signUpForm {
    background-color: #8ba7bf;
    opacity: 100%;
    margin: auto;
    margin-top: 7em;
    width: 25%;
    height: 315px;
    /* border: 5px solid purple; */
    padding: 10px;
    text-align: justify;
}
.signUpBox {
    margin-top: 0.75em;
    text-align: center;
}

.quiz {
    margin-top: 30px;
}

nav {
    text-align: center;
  }
  ul {
    list-style-type: none;
    background-color: #1c415c;
    overflow: hidden;
    padding: 10px;
  }
  li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    margin: 1em;
  }
  li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  li a:hover {
    background-color: #8ba7bf;
  }
  a {
    color: navy;
  }

  html { 
    background: url(https://images.pexels.com/photos/449751/pexels-photo-449751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .resultsPage{
      text-align: center;
      font-family: 'Quicksand', sans-serif;

  }
.ui-menu .ui-menu-item a {
    background-color: #003046;
    color: #8ba7bf;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 16px;
    font-family: "Poppins";
    text-align: left;
}

  .weatherDay {
      background-color: white;
      opacity: 80%;
      padding-top: 40px;
      padding-right: 20px;
      padding-bottom: 40px;
      padding-left: 20px;
      margin: 1em;
  }

  .friendCard {
    text-align: left;
    background-color: white;
    opacity: 80%;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    width: 25%;
  }
